@page "/inputInventories/create"

<h3>Crear Materia Prima</h3>
<EditForm Model="inputInventory" OnValidSubmit="CreateAsync">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label>Materia Prima:</label>
                <div>
                    <select class="form-select" @bind="inputInventory.RawMaterialId">
                        <option value="0">--Seleccione una materia prima</option>
                        @if (rawMaterials != null)
                        {
                            @foreach (var rawMaterial in rawMaterials)
                            {
                                <option value="@rawMaterial.Id">@rawMaterial.Name</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => inputInventory.RawMaterialId)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Cantidad:</label>
                <div>
                    <InputText class="form-control" @bind-Value="inputInventory.Amount" />
                    <ValidationMessage For="@(() => inputInventory.Amount)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Lote:</label>
                <div>
                    <InputText class="form-control" @bind-Value="inputInventory.Batch" />
                    <ValidationMessage For="@(() => inputInventory.Batch)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Fecha de Vencimiento:</label>
                <div>
                    <InputText class="form-control" @bind-Value="inputInventory.MatutingDate" />
                    <ValidationMessage For="@(() => inputInventory.MatutingDate)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Proveedor:</label>
                <div>
                    <select class="form-select" @bind="inputInventory.SupplierId">
                        <option value="0">-- Seleccione un proveedor --</option>
                        @if (suppliers != null)
                        {
                            @foreach (var supplier in suppliers)
                            {
                                <option value="@supplier.Id">@supplier.Name</option>
                            }
                        })
                    </select>
                    <ValidationMessage For="@(() => inputInventory.SupplierId)" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            <a href="/rawMaterials" class="btn btn-success">Regresar</a>
        </div>
    </div>
</EditForm>